.navbar{
    display: flex;
    box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.12); 
}

.inputnama{
    padding: 2px 7px;
    background-color: #f0f0f0;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
}

#sambutan{
    font-size: 30px;
}

.created{
    text-align: right;
    font-size: 18px;
    margin-right: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
}